
*{
    margin: 0;
    padding: 0;
}
#div{
    background-color: rgb(230, 214, 204);
}
.div1{
    display: flex;
    margin-top: 50px;
    background-color: rgb(230, 214, 204);
    align-items: center;
    padding-left: 50px;
}
.img{
    width: 75%;
    height: 75%;
    float: right;
}
button{
    background-color: brown;
    color: white;
    text-align: center;
    font-size: small;
}
.im{
display: flex;
justify-content: space-around;
}
@media  screen and (max-width: 1025px) {
    .d1 .d2 .d3{
        display: flex;
        flex-direction: row;
    }
    .d4{ 
        flex-direction: column;
    }
}
nav ul li {
    flex-direction: row;
}
.p1{
    font-size: medium;
}
.p2{
    color: rgb(146, 28, 28);
}
.merci{
    text-align: center;
}
.très{
    display: flex;
}
.ligne_orange{
    border-left-color: rgba(224, 113, 10, 0.993);
}
a{
text-decoration: red;    
}